.event-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4rem;
  background: var(--primary);
  border-radius: 0.75rem;
  padding: 1rem;
  min-width: 25rem;
  justify-content: space-between;
}